<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erzhiri.wls.mapper.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erzhiri.wls.model.entity.Customer">
        <id column="customer_id" property="customerId" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="poss_code" property="possCode" />
        <result column="address" property="address" />
        <result column="phone_number" property="phoneNumber" />
        <result column="bank" property="bank" />
        <result column="account" property="account" />
        <result column="embed" property="embed" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        customer_id, username, password, poss_code, address, phone_number, bank, account, embed
    </sql>

</mapper>
