<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erzhiri.wls.mapper.StaffMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erzhiri.wls.model.entity.Staff">
        <id column="staff_id" property="staffId" />
        <result column="name" property="name" />
        <result column="nickname" property="nickname" />
        <result column="password" property="password" />
        <result column="phone_number" property="phoneNumber" />
        <result column="email" property="email" />
        <result column="address" property="address" />
        <result column="embed" property="embed" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        staff_id, name, nickname, password, phone_number, email, address, embed
    </sql>

</mapper>
